USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALL_HEALTH]    Script Date: 11/8/2017 9:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALL_HEALTH]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

 

      SELECT MST_HEALTHCENTER.HEALTHCENTERID, MST_HEALTHCENTER.HEALTHCENTERNAME, MST_HEALTHCENTER.ISDELETED
      FROM dbo.MST_HEALTHCENTER
      ORDER BY lower(MST_HEALTHCENTER.HEALTHCENTERNAME)

      IF @@TRANCOUNT > 0
         COMMIT WORK 

   END