USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALL_LIVELIHOOD]    Script Date: 11/8/2017 10:29:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALL_LIVELIHOOD]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      SELECT MST_LIVELIHOOD.ITEMID, MST_LIVELIHOOD.ITEMNAME, MST_LIVELIHOOD.ISDELETED
      FROM dbo.MST_LIVELIHOOD
      ORDER BY lower(MST_LIVELIHOOD.ITEMNAME)

   END