USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_INSERTROLE]    Script Date: 10/24/2017 7:47:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_INSERTROLE]  
   @ROLENAMEIN varchar(max),
   @RoleDescriptionIN varchar(max),
   @ISDELETEDIN varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @USERIDIN float(53),
   @errorMessage_ varchar(max)  OUTPUT
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      SET @errorMessage_ = NULL

      DECLARE
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @row_count float(53)

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_INSERTROLE
      *   Author            : Wilson Abigaba               
      *   Created Date      : 24/10/2017                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   For Inserting Role Details Records into MST_ROLE Master Table
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   
      *   1.ROLENAMEIN
      *   2.RoleDescriptionIN
      *   3.ISDELETEDIN
      *   4.USERIDIN
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. MST_ROLE
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. MASTER
      *   __________________________________________________________________________________________________________
      *   
      *   *********************************************************************************************************
      */
      SELECT @row_count = count_big(1)
      FROM dbo.MST_ROLE
      WHERE lower(MST_ROLE.ROLENAME) = lower(@ROLENAMEIN)

      IF @row_count = 0
         BEGIN

            INSERT dbo.MST_ROLE(
               ROLEID, 
               ROLENAME, 
               ROLEDESCRIPTION, 
               CREATEDBY, 
               CREATEDDATE, 
               UPDATEDBY, 
               ISDELETED)
               VALUES (
                  NEXT VALUE FOR dbo.MST_ROLE_SEQ, 
                  @ROLENAMEIN, 
                  @RoleDescriptionIN, 
                  @USERIDIN, 
                  sysdatetime(), 
                  @USERIDIN, 
                  @ISDELETEDIN)

            SET @errormessage_ = NULL

            IF @@TRANCOUNT > 0
               COMMIT WORK 

         END
      ELSE 
         SET @errormessage_ = 'Role ' + ISNULL(@ROLENAMEIN, '') + ' already exists in the system.'

   END