USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_ALLBRANCHES]    Script Date: 11/6/2017 7:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_ALLBRANCHES]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @bankID_ float(53)
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_ALLBRANCHES
      *   Author            : Amalesh              
      *   Created Date      : 24 May 2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to get all Bank records.
      *   __________________________________________________________________________________________________________
      *   Input Parameters    
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. Table Name: mst_bank
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. Master - Bank
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT 
         MST_BANK_BRANCHES.BRANCHID, 
         MST_BANK_BRANCHES.BANKID, 
         MST_BANK_BRANCHES.BRANCHNAME, 
         MST_BANK_BRANCHES.CITY, 
         MST_BANK_BRANCHES.SWIFTCODE, 
         MST_BANK_BRANCHES.BANKCODE, 
         MST_BANK_BRANCHES.ISDELETED
      FROM dbo.MST_BANK_BRANCHES
      WHERE MST_BANK_BRANCHES.BANKID = @bankID_
      ORDER BY lower(MST_BANK_BRANCHES.BRANCHNAME)

   END