USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETUSERBYID]    Script Date: 10/23/2017 5:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETUSERBYID]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @userID_ float(53)
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

   
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GETUSERBYID
      *   Author            : Wilson Abigaba           
      *   Created Date      : 23/10/2017                 
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose: For Reading mst_user Master All Records 
      *   __________________________________________________________________________________________________________
      *   Input Parameters  1.userid_              
      *   __________________________________________________________________________________________________________
      *   Tables Used : 1. mst_user
      *   __________________________________________________________________________________________________________
      *   Modules Affected : 1. MASTER
      *   __________________________________________________________________________________________________________
      *   *********************************************************************************************************
      */
      SELECT 
         MST_USER.USERID, 
         MST_USER.USERNAME, 
         MST_USER.CELLNUMBER, 
         MST_USER.ISDELETED, 
         MST_USER.EMAILID, 
         MST_USER.ROLEID, 
         /* ,rolename   ,rolename*/MST_USER.DISPLAYNAME
      FROM dbo.MST_USER
      WHERE MST_USER.USERID = @userid_
      /*SELECT * FROM MST_USER WHERE userid = userid_;*/

   END