USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_ALLBANKS]    Script Date: 11/6/2017 7:18:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_ALLBANKS]  
   @bankName_ varchar(max)
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

  
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN



      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_ALLBANKS
      *   Author            : Amalesh              
      *   Created Date      : 24 May 2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to get all Bank records.
      *   __________________________________________________________________________________________________________
      *   Input Parameters    
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. Table Name: mst_bank
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. Master - Bank
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_BANK.BANKID, MST_BANK.BANKNAME, /* city,   branchname,  swiftcode,*/MST_BANK.ISDELETED
      FROM dbo.MST_BANK
      WHERE (lower(MST_BANK.BANKNAME) LIKE (lower(@bankName_) + '%') OR @bankName_ IS NULL)
      
      /*
      *    AND (lower(city) like concat(lower(city_),'%') or city_ is null)
      *    AND (lower(branchName) like concat(lower(branchName_),'%') or branchName_ is null)
      *    AND (lower(SwiftCode) like concat(lower(swiftCode_),'%') or swiftCode_ is null)
      */
      ORDER BY lower(MST_BANK.BANKNAME)

   END