USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_BRANCHES]    Script Date: 11/6/2017 7:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_BRANCHES]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @bankID_ float(53)
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

    
      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_BRANCHES
      *   Author            : Amalesh              
      *   Created Date      : 19 Apr 2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to get Active Bank records.
      *   __________________________________________________________________________________________________________
      *   Input Parameters    
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. Table Name: mst_bank
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. Compensation - Socio Economic - Livelihood
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_BANK_BRANCHES.BANKID, /*CITY,*/MST_BANK_BRANCHES.BRANCHNAME, /*SWIFTCODE,*/MST_BANK_BRANCHES.BRANCHID/*,*/
      /*ISDELETED*/
      FROM dbo.MST_BANK_BRANCHES
      WHERE MST_BANK_BRANCHES.BANKID = @bankID_ AND MST_BANK_BRANCHES.ISDELETED = 'False'
      ORDER BY lower(MST_BANK_BRANCHES.BRANCHNAME)

   END