USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALLDWELLING]    Script Date: 11/8/2017 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALLDWELLING]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

  
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

    

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GETALLDWELLING
      *   Author            : Mahalakshmi               
      *   Created Date      : 17-May-2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to fetch values of table
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   p_DWELLINGID
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. mst_dwelling
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   
      *   1. dwelling
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_DWELLING.DWELLINGID, MST_DWELLING.DWELLINGTYPE, MST_DWELLING.ISDELETED
      FROM dbo.MST_DWELLING
      ORDER BY lower(MST_DWELLING.DWELLINGTYPE)

   END