USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_BRANCHESBYID]    Script Date: 11/6/2017 7:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_BRANCHESBYID]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @BankBranchId_ float(53)
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

  

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_BANKBYID
      *   Author            : Amalesh              
      *   Created Date      : 19 Apr 2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to get details of a Bank.
      *   __________________________________________________________________________________________________________
      *   Input Parameters    
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. Table Name: mst_bank
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. Master - Bank
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT 
         MST_BANK_BRANCHES.BANKID, 
         MST_BANK_BRANCHES.CITY, 
         MST_BANK_BRANCHES.BRANCHNAME, 
         MST_BANK_BRANCHES.SWIFTCODE, 
         MST_BANK_BRANCHES.BANKCODE, 
         MST_BANK_BRANCHES.BRANCHID
      FROM dbo.MST_BANK_BRANCHES
      WHERE MST_BANK_BRANCHES.BRANCHID = @BankBranchId_

   END