USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALLCONCERN]    Script Date: 11/8/2017 10:16:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALLCONCERN]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      SELECT MST_CONCERN.CONCERNID, MST_CONCERN.CONCERN, MST_CONCERN.ISDELETED
      FROM dbo.MST_CONCERN
      ORDER BY lower(MST_CONCERN.CONCERN)

   END