USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_BANKBYID]    Script Date: 11/6/2017 7:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_BANKBYID]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @bankID_ float(53)
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

  
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

  

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_BANKBYID
      *   Author            : Amalesh              
      *   Created Date      : 19 Apr 2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to get details of a Bank.
      *   __________________________________________________________________________________________________________
      *   Input Parameters    
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. Table Name: mst_bank
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. Master - Bank
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_BANK.BANKID, MST_BANK.BANKNAME
      
      /*
      *   city,
      *    branchname,
      *   swiftcode
      */
      FROM dbo.MST_BANK
      WHERE MST_BANK.BANKID = @bankID_

   END