USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETNASCHOOLDETAILSALL]    Script Date: 11/8/2017 9:54:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETNASCHOOLDETAILSALL]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */


AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN



      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GETNASCHOOLDETAILSALL
      *   Author            : Akshay Kulkarni               
      *   Created Date      : 17/04/2013       
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose: To get all reasons for Never Attended School.
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   NVRATTSCHREASONID
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   1. MST_NEVERATTENDEDSCHOOLREASON
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   1. NeverAttendedSchool
      *   __________________________________________________________________________________________________________
      *                                                                                                                               
      *   *********************************************************************************************************
      */
      SELECT MST_NEVERATTENDEDSCHOOLREASON.NVR_ATT_SCH_REASONID, MST_NEVERATTENDEDSCHOOLREASON.NVR_ATT_SCH_REASON, MST_NEVERATTENDEDSCHOOLREASON.DESCRIPTION, MST_NEVERATTENDEDSCHOOLREASON.ISDELETED
      FROM dbo.MST_NEVERATTENDEDSCHOOLREASON
      ORDER BY lower(MST_NEVERATTENDEDSCHOOLREASON.NVR_ATT_SCH_REASON)

   END