USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_ROLEPRIVILAGE]    Script Date: 10/24/2017 3:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_ROLEPRIVILAGE]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

  
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_SELECTCROPAGE
      *   Author            : Wilson               
      *   Created Date      : 24/10/2017                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to Featch the Data from MST_MENU
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   -
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. MST_MENU
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   
      *   1.Role Privileges Master Page 
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT 
         isnull(B.MENUID, 0) AS ParentMenuID, 
         B.MENUNAME AS Parentmenu, 
         B.MENULEVEL AS parentLevel, 
         A.MENUID AS ChildMenuID, 
         A.MENUNAME AS childmenu, 
         A.MENULEVEL AS ChildLevel, 
         A.DESCRIPTION AS MenuDescription, 
         
            (
               SELECT count_big(1) AS expr
               FROM dbo.MST_MENU
               WHERE MST_MENU.PARENTID = A.MENUID
            ) AS CHILDMENUCOUNT
      FROM 
         dbo.MST_MENU  AS A 
            LEFT JOIN dbo.MST_MENU  AS B 
            ON A.PARENTID = B.MENUID
      WHERE lower(A.ISDELETED) = 'false'
      ORDER BY ParentMenuID, A.MENUORDER ASC, ChildMenuID

   END