USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_ALLPOSITIONS]    Script Date: 11/8/2017 10:29:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_ALLPOSITIONS]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GET_ALLPOSITIONS
      *   Author            : Ramu.S               
      *   Created Date      : 17-May-2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to Featch the Data from MST_POSITION and assign to DataGrid
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   -
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. MST_POSITION
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   
      *   1.POSITION Master Page 
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_POSITION.POSITIONID, MST_POSITION.POSITION, MST_POSITION.ISDELETED
      FROM dbo.MST_POSITION
      ORDER BY lower(MST_POSITION.POSITION)

   END