USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_OBSOLETEUSER]    Script Date: 10/23/2017 6:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_OBSOLETEUSER]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @userid_ float(53),
   @isdeleted_ varchar(max),
   @errorMessage_ varchar(max)  OUTPUT
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      SET @errorMessage_ = NULL

      DECLARE
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @row_count float(53)

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_OBSOLETEUSER
      *   Author            : Wilson            
      *   Created Date      : 23/10/2017                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose: For Updating mst_user Master Records based on RoleId
      *   __________________________________________________________________________________________________________
      *   Input Parameters  1.userid_
      *                     2.isdeleted_
      *   __________________________________________________________________________________________________________
      *   Tables Used : 1. mst_user
      *   __________________________________________________________________________________________________________
      *   Modules Affected : 1. MASTER
      *   __________________________________________________________________________________________________________
      *   *********************************************************************************************************
      */
      SELECT @row_count = count_big(TRN_PROJECT_PERSONNEL.CREATEDBY)
      FROM dbo.TRN_PROJECT_PERSONNEL
      WHERE TRN_PROJECT_PERSONNEL.USERID = @userid_

      /*SELECT COUNT(CREATEDBY) INTO row_count FROM TRN_PAP_HOUSEHOLD WHERE CREATEDBY = userid_;*/
      IF @row_count = 0
         BEGIN

            UPDATE dbo.MST_USER
               SET 
                  ISDELETED = @isdeleted_
            WHERE MST_USER.USERID = @userid_

            IF @@TRANCOUNT > 0
               COMMIT WORK 

         END
      ELSE 
         SET @errormessage_ = 'Selected User is already in use. Cannot Obsolete'

   END