USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALLCOP_MECHANISM]    Script Date: 11/8/2017 10:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALLCOP_MECHANISM]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      SELECT MST_COPING_MECHANISM.COP_MECHANISMID, MST_COPING_MECHANISM.COP_MECHANISM, MST_COPING_MECHANISM.ISDELETED
      FROM dbo.MST_COPING_MECHANISM
      ORDER BY lower(MST_COPING_MECHANISM.COP_MECHANISM)

   END