USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_REPRESENTATIONBYID]    Script Date: 11/8/2017 10:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_REPRESENTATIONBYID]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @REPRESENTATIONID_ float(53)
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */


AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      SELECT MST_REPRESENTATION.REPRESENTATIONID, MST_REPRESENTATION.REPRESENTATIONNAME, MST_REPRESENTATION.ISDELETED
      FROM dbo.MST_REPRESENTATION
      WHERE MST_REPRESENTATION.REPRESENTATIONID = @REPRESENTATIONID_

   END