USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GET_DISEASES]    Script Date: 11/8/2017 10:26:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GET_DISEASES]  
   @DiseaseNameIN varchar(max)
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

  

      SELECT MST_DISEASE.DISEASEID, MST_DISEASE.DISEASENAME, MST_DISEASE.ISDELETED
      FROM dbo.MST_DISEASE
      WHERE (lower(MST_DISEASE.DISEASENAME) LIKE (lower(@DiseaseNameIN) + '%') OR @DiseaseNameIN IS NULL)
      ORDER BY lower(MST_DISEASE.DISEASENAME)

   END