USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SEL_SMS_CONFIG]    Script Date: 11/8/2017 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_SEL_SMS_CONFIG]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

  
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN

      

      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_SEL_SMS_CONFIG
      *   Author            : Ramu.S               
      *   Created Date      : 08-june-2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to Featch the Data from WISCONFIGURATION
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   -
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. WISCONFIGURATION
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   
      *   1.SMS Sending Module page 
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT DISTINCT 
         (
            SELECT WISCONFIGURATION.CONFIGDATA AS MobileNumber
            FROM dbo.WISCONFIGURATION
            WHERE WISCONFIGURATION.CONFIGITEM = 'SMS_REG_MOBILE_NUMBER'
         ) AS RegMobileNumber, 
         (
            SELECT WISCONFIGURATION.CONFIGDATA AS MobilePassword
            FROM dbo.WISCONFIGURATION
            WHERE WISCONFIGURATION.CONFIGITEM = 'SMS_REG_MOBILE_NUMBER_PWD'
         ) AS RegMobilePassword, 
         (
            SELECT WISCONFIGURATION.CONFIGDATA AS SiteURL
            FROM dbo.WISCONFIGURATION
            WHERE WISCONFIGURATION.CONFIGITEM = 'SMS_SENDING_SITE_NAME'
         ) AS RegSiteUrl, 
         (
            SELECT WISCONFIGURATION.CONFIGDATA AS SMSStatus
            FROM dbo.WISCONFIGURATION
            WHERE WISCONFIGURATION.CONFIGITEM = 'SMS_SEND_STATUS'
         ) AS RegMobileStatus
      FROM dbo.WISCONFIGURATION
      
      /*
      *   * Use Below Query if input Data pass*
      *   **
      *       Select DISTINCT
      *         (SELECT CONFIGDATA as MobileNumber  FROM WISCONFIGURATION 
      *         where CONFIGITEM = 'SMS_REG_MOBILE_NUMBER')as RegMobileNumber,
      *         (SELECT CONFIGDATA as MobilePassword  FROM WISCONFIGURATION 
      *         where CONFIGITEM = 'SMS_REG_MOBILE_NUMBER_PWD')as RegMobilePassword,
      *           (SELECT CONFIGDATA as SiteURL  FROM WISCONFIGURATION 
      *         where CONFIGITEM = 'SMS_SENDING_SITE_NAME')as RegSiteUrl,
      *         (SELECT CONFIGDATA as SMSStatus  FROM WISCONFIGURATION 
      *         where CONFIGITEM = 'SMS_SEND_STATUS')as RegMobileStatus
      *       FROM WISCONFIGURATION 
      *       where CONFIGDATA= 'N' and
      *   CONFIGITEM= 'SMS_SEND_STATUS' ;
      *       ***
      */

   END