USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETALL_RELATIONSHIP]    Script Date: 11/8/2017 10:33:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETALL_RELATIONSHIP]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */

AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN


      SELECT MST_RELATIONSHIP.RELATIONSHIPID, MST_RELATIONSHIP.RELATION, MST_RELATIONSHIP.ISDELETED
      FROM dbo.MST_RELATIONSHIP
      ORDER BY lower(MST_RELATIONSHIP.RELATION)

   END