USE [UETCLWIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MST_GETSCHOOLSTATUSALL]    Script Date: 11/8/2017 9:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_MST_GETSCHOOLSTATUSALL]  
   /*
   *   SSMA warning messages:
   *   O2SS0259: CURSOR type was converted to varchar(8000).
   */


AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 6.0.0.*/
   BEGIN



      
      /*
      *   ********************************************************************************************************                  
      *   Procedure Name    : USP_MST_GETSCHOOLSTATUSALL
      *   Author            : Rajkumar Yadav                
      *   Created Date      : 16-4-2013                  
      *   Copyright©        : Copyright © UETCL
      *   __________________________________________________________________________________________________________
      *   Purpose
      *   
      *   This SP is used to GET all data from the Current School Status
      *   __________________________________________________________________________________________________________
      *   Input Parameters 
      *   CUR_SCH_STATUSID, CUR_SCH_STATUS,  DESCRIPTION and  ISDELETED 
      *   __________________________________________________________________________________________________________
      *   Tables Used
      *   
      *   1. MST_CURRENTSCHOOLSTATUS
      *   __________________________________________________________________________________________________________
      *   Modules Affected
      *   
      *   1. Current School Status
      *   __________________________________________________________________________________________________________
      *   
      *                                                                                                                                   
      *   *********************************************************************************************************
      */
      SELECT MST_CURRENTSCHOOLSTATUS.CUR_SCH_STATUSID, MST_CURRENTSCHOOLSTATUS.CUR_SCH_STATUS, MST_CURRENTSCHOOLSTATUS.DESCRIPTION, MST_CURRENTSCHOOLSTATUS.ISDELETED
      FROM dbo.MST_CURRENTSCHOOLSTATUS
      ORDER BY lower(MST_CURRENTSCHOOLSTATUS.CUR_SCH_STATUS)

   END