<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UETCL_WIS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.55)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl.corp.ktwo.co.in)));User Id=UETCL_WIS;Password=UETCL_WIS;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="MAIL_FROM" value="info@ktwo.co.in"/>
    <add key="ERROS_PATH" value="D:\\ErrorDetails.txt"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="164.164.94.44" userName="Info" password="February09"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>