<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UETCL_WIS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.3.3.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=UETCLWIS;Password=Uetcl7625;" providerName="Oracle.DataAccess.Client" />
  <add name="UETCL_WIS_SQL" connectionString="Server=10.3.3.33;Database=UETCLWIS;User Id=sa;Password=Uetcl7625;" />
  </connectionStrings>
   
  

  <system.web>

    

    <httpRuntime executionTimeout="2000000000" maxRequestLength="999999" />

    <sessionState timeout="60"></sessionState>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=12.0.1100.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=12.0.1100.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=12.0.1100.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=12.0.1100.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=12.0.1100.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"></customErrors>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <security>

      <requestFiltering >

        <requestLimits maxAllowedContentLength="2000000000" ></requestLimits>

      </requestFiltering>

    </security>
  </system.webServer>
  <!-- to add the File path Server activeDir -> path to store the project file name -->
  <appSettings>
    <add key="FromMailAddress" value="wisadmin@uetcl.com" />

    <add key="activeDir" value="\\nas\WISDOCS\" />

    <!-- add key="strPath_user" value="\\Wisdoc\BIPMIGRATION\" / -->
    <!-- add key="cpy_strPath_user" value="\\nas\WISDOCS\" / -->

    <!-- Alternative location for docs -->
    <add key="backup_strPath_user" value="\\Wisdoc\BIPMIGRATION\" />
    <!-- Main location for docs -->
    <add key="main_strPath_user" value="\\nas\WISDOCS\" />
    <!-- Off site location for docs -->
    <add key="offsite_strPath_user" value="\\Wisdoc\BIPMIGRATION\" />
    
    <add key="TempDirectory" value="E:\WIS_Production\TempDocs\" />
    <add key="TempFolder" value="../TempDocs/" />
    <add key="FolderPath" value="E:\\WIS_Production\\PAPData\\" />
    <add key="FolderPathExpense" value="E:\\WIS_Production\\ExpenseData\\" />
    <add key="FolderPathRoute" value="E:\\WIS_Production\\RouteData\\" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=E:\WIS_Production\TempImageFiles\;" />
    <add key="Rpt_ServerName_SQL" value="Server=10.3.3.33;Database=UETCLWIS;User Id=sa;Password=Uetcl7625;" />
    <add key="Rpt_ServerName" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.3.3.33)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)))" />
    <add key="Rpt_DatabaseName" value="UETCLWIS" />
    <add key="Rpt_UserID" value="UETCLWIS" />
    <add key="Rpt_Password" value="Uetcl7625" />
    <add key="Rpt_Source" value="E:\\WIS_Production\\REPORTS\\" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ErrorFilePath" value="E:\WIS_Production\ErrosOccurred.txt" />
    <add key="LDAPDomainName" value="UETCL" />
    <!--add key="LDAPDomainName" value="172.16.8.189" / -->
    <add key="UploadImageSize" value="2100000" />
    <add key= "vs:EnableBrowserLink" value ="false" />
    <add key="MailFileSize" value="2048" />
  </appSettings>
  <!-- To send Email Via SMTP Mail Server-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="172.16.8.186" userName="wisadmin" password="zxcvbnm@12345" />
      </smtp>
    </mailSettings>
  </system.net>

    
</configuration>